<div class='mt-3'><b>Name</b>: {{{name}}}</div>
{{#if unit}}
<div class='mt-3'><b>Unit</b>: {{{unit}}}</div>
{{/if}}
{{#if frequency}}
<div class='mt-3'><b>Frequency</b>: {{{frequency}}}</div>
{{/if}}
<div class='mt-3'><b>Notes</b>: {{{notes}}}</div>
