<div class='mt-3'><b>Name</b>: {{{name}}}</div>
<div class='mt-3'><b>Unit</b>: {{{unit}}}</div>
<div class='mt-3'><b>Frequency</b>: {{{frequency}}}</div>
<div class='mt-3'><b>Notes</b>: {{{notes}}}</div>
